html {
   height: 100vh; 
   min-height: 100vh;
}
.material-icons {
    color: #ffffff;
    cursor: pointer;
}
nav {
    overflow: hidden;
    width: 100vw;
    height: 56px;
    background-color: #EA2027;
    position: fixed;
    top: 0; 

}

nav a {
    display: block;
    float: left;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
}

#logo {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: #ffffff;
    letter-spacing: 0.02em;
}
@keyframes slide {
	from {
        margin-left: -100%;
      }
      to {
        margin-left: 0;
      }
}
@keyframes cardMoving {
     0% {
        display:none;
        opacity: 0;
    }
    
    1% {
        display: inline;
    }
    
    100% {
        opacity: .9;
    }
}
@keyframes slideBack {
    from {
        margin-left: 0;
      }
      to {
        margin-left: -100%;
      }
}
.modalSlideBack {
    animation:slideBack .5s;
}
.modal {
    display: none;
    position: fixed;
    height: 100%;
    width: 200%;
    overflow: auto;   
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    /*animation:slide .5s;*/
}
.modal-content {
    background-color: #ffffff;
    height: 100vh;
    width: 40vh;
}

.iconsNavigation {
    margin-left: -25px;
    margin-right: 20px;
}

body {
    background: url('../backgrounds/bg1920x1080.png') no-repeat center center fixed;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
}
.infoPresentation {
    margin-top: 36px;
}

#info {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 550;
    color: #000000;
    margin-left: 12px;
    letter-spacing: 0.02em;
}
ul {
    list-style-type: none;
}
.infoMenu {
    margin-top: 38px;
    list-style-type: none;
  
}
.infoItem {
    display: block;
    text-decoration: none;
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    letter-spacing: 0.02em;
    color: #000000;
    margin-left: -33px;
    text-indent: 30px; 
    line-height: 45px;
    outline: none;
}
.infoItem:link {
    text-decoration: none;
    color: black; 
}
.infoItem:not(.active):before {
    content:'';
    position: absolute;
    width: 0px;
    margin-left: -32px;
    
    height: 42px;
    background: rgb(192,192,192, 0.3); 
    border-radius: 5px;
    transition: all 800ms ease; 
}
.infoItem:hover::before {
    width: 96%;
}
.infoItem:hover {
    margin-right: 6.5px;
}
.active {
    color: #EA2027;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.1);
    margin-right: 8px;
    margin-left: -34px; 
    margin-bottom: 3px;
    margin-top: 3px;
    text-decoration: none;
} 
a.active:hover {
    text-decoration: none;
    color: #EA2027; 
}
@media screen and (orientation: landscape) {
    .modal-content {
        width: 72vh; 
        height: 100vh;
    }
    }
@media (max-width: 1440px)
{
    body{
        background: url('../backgrounds/bg1440x2960.png')  no-repeat center center fixed;

    }
}
@media (max-width: 1366px)
{
    body {
        background: url('../backgrounds/bg1366x768.png')  no-repeat center center fixed;
    }

}

@media (max-width: 1080px)
{
    body{
        background: url('../backgrounds/bg1080x2160.png')  no-repeat center center fixed;
    }
}
@media (min-height: 1920px) and (max-height: 1920px) and (min-width: 1080px) and (max-width: 1080px)
{
    body{
        background: url('../backgrounds/bg1080x1920.png')  no-repeat center center fixed;

    }
}
@media (max-width: 750px)
{
    body{
        background: url('../backgrounds/bg750x1334.png')  no-repeat center center fixed;
    }
}
@media (min-width: 1366px) and (max-width: 1920px) 
{
    .modal-content {
        width: 20vw; 
        height: 100vh;
    }
    
}

.centerCard {
    margin-top: 40px;
    width: 100vw;
    height: 70vh;
}
.myCard {
    display: table;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.85);
    border-radius: 5px;
    width: 80vw;
    height: 65%;
    box-shadow: 7px 11px 15px #2d2d2dee;
    /*animation: cardMoving 800ms;*/
}
.cardForm {
    display: table;
    margin: 0 auto;
    width: 75vw;
    /*height: 70vh;*/
    /*animation: cardMoving 1s;*/
}
.form-control {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    margin-top: 5.5px;
    -webkit-transition: all .6s;
    transition: all .6s;

}

#contributeTag {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    font-weight: 590;
    color: #000000;
    margin-left: 13px;
    letter-spacing: 0.02em;
    margin-top: 20px;
}
hr {
    margin-top: 15px;
    border-width: 1.5px;
    margin-bottom: 30px;
}
.buttonSlot{
    margin-top: 30px;
    margin-bottom: 30px;
}
.formButton {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    position: relative;
    background-color: rgba(255,255,255, 0.85);
    height: 40px;
    width: 100%;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 3px solid #d9141bff;
    -webkit-transition: background 2s linear;
    transition: background .35s linear;
    margin-top: 5.5px;
    cursor: pointer;
    border-radius: 5px;
}
.formButton:hover {
    background: #d9141bff;
    color: #ffffff;
    max-height: 50px;
}
@media (min-width: 1278px) and (max-width: 1920px) 
{
    .centerCard {
    margin-top: 8vh;
    width: 100vw;
    height: 70vh;
}
    .myCard {
    display: table;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.85);
    border-radius: 5px;
    width: 35vw;
    height: 65%;
    box-shadow: 7px 11px 15px #2d2d2dee;
    /*animation: cardMoving 800ms;*/
}

.cardForm {
    display: table;
    margin: 0 auto;
    width: 30vw;
    /*height: 70vh;*/
}   
}
.cardPresentation{
    animation: cardMoving 3s;
}

.typed-cursor{
   opacity: 0;
    display: none;
}
h1 {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
h3 {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #808080ff;
}
p {
    font-family: 'PT Mono', monospace;
    font-family: 'Roboto', sans-serif;
}